body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(Chocolate-image.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('Chocolate-image.png') no-repeat center center fixed;
    background-size: cover;

  display: flex;
    justify-content: center; /* Yatayda ortalar */
    align-items: center;
}

h1{
	font-size: 3rem;
	color: #FDF5E6;
}

hr {
    margin: 20px auto;
    color: #4e342e;
    border: 3px solid #8D6E63;
    max-width: 65px;
    opacity: 1;  
}

.btn {
    padding: 10px 30px;
    font-size: 1.2rem;
    background-color: #3D2B1F; 
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-transform: uppercase;
}

.btn:hover {
    transform: scale(1.1); 
    background-color: #AF6E4D;
}

.buffer{
	height: 50px;
}

